<a href="https://colab.research.google.com/github/GrTravis2/AgAid_Hackathon_25/blob/main/AgAID_Hackathon_25_Team_13_Crop_Residue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from PIL import Image
from image_loader import agAid_image_loader

In [2]:
df3 = agAid_image_loader("IMG_0937.jpg_part01.jpg")
df3

          y    x  red  green  blue
0         0    0  155    156   138
1         0    1  152    153   137
2         0    2  131    131   123
3         0    3   63     62    58
4         0    4   44     40    39
...     ...  ...  ...    ...   ...
262139  511  507  176    184   160
262140  511  508  153    164   132
262141  511  509  165    177   139
262142  511  510  154    169   130
262143  511  511  175    190   149

[262144 rows x 5 columns]

In [3]:
# do the same but for res + sunshad images -> join with original image df
df_residue = agAid_image_loader("IMG_0937_res_part01.tif")
df_residue

          y    x  red  green  blue
0         0    0    0      0     0
1         0    1    0      0     0
2         0    2    0      0     0
3         0    3  255    255   255
4         0    4  255    255   255
...     ...  ...  ...    ...   ...
262139  511  507  255    255   255
262140  511  508  255    255   255
262141  511  509  255    255   255
262142  511  510  255    255   255
262143  511  511  255    255   255

[262144 rows x 5 columns]

In [4]:

colourImg = Image.open("IMG_0937_res_part01.tif")
colourPixels = colourImg.convert("RGB")
colourArray = np.array(colourPixels.getdata()).reshape(colourImg.size + (3,))
indicesArray = np.moveaxis(np.indices(colourImg.size), 0, 2)
allArray = np.dstack((indicesArray, colourArray)).reshape((-1, 5))

df = pd.DataFrame(allArray, columns=["y", "x", "red","green","blue"])
print(df)

          y    x  red  green  blue
0         0    0    0      0     0
1         0    1    0      0     0
2         0    2    0      0     0
3         0    3  255    255   255
4         0    4  255    255   255
...     ...  ...  ...    ...   ...
262139  511  507  255    255   255
262140  511  508  255    255   255
262141  511  509  255    255   255
262142  511  510  255    255   255
262143  511  511  255    255   255

[262144 rows x 5 columns]

In [73]:
#df.to_csv("colored_images.csv", index=False)

In [74]:
df2 = pd.read_csv("colored_images.csv")
df2

          y    x  red  green  blue
0         0    0  155    156   138
1         0    1  152    153   137
2         0    2  131    131   123
3         0    3   63     62    58
4         0    4   44     40    39
...     ...  ...  ...    ...   ...
262139  511  507  176    184   160
262140  511  508  153    164   132
262141  511  509  165    177   139
262142  511  510  154    169   130
262143  511  511  175    190   149

[262144 rows x 5 columns]